*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito";
  margin-top: 6px;
  /* justify-content: center; */
  /* align-items: center; */
}

.contenedor {
  width: 375px;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0 0 6px 0 rgba(65, 61, 61, 0.8);
  margin: 0 auto;
}

/* Diseño del Headre */

.header {
  background: -webkit-linear-gradient(to right, #202452, #1f5c9c);
  background: linear-gradient(to right, #202452, #1f5c9c);
  display: grid;
  align-items: center;
  grid-template-columns: 40% 1fr;
  border-radius: 15px 15px 0px 0px;
}

.avatar {
  width: 100px;
  margin: 25px;
}

.header .textos .hola {
  font-family: "Nunito";
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.header .textos .nombre {
  font-family: "Nunito";
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.header .textos .numero {
  font-family: "Nunito";
  font-size: 14px;
  color: rgb(255, 255, 255);
}

/* Diseño de la información */

.informacion {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  vertical-align: bottom;
  padding-bottom: 15px;
  padding-top: 15px;
}

.informacion .dias .tudia {
  font-family: "Nunito";
  font-size: 16px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.informacion .dias .dias-numero {
  font-family: "Nunito";
  font-size: 48px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.informacion .dias {
  border-right: 5px solid transparent;
  border-image: linear-gradient(to bottom, #fd5613 0%, #e0379b 100%) 1;
}

.informacion .nequi .nequi-titulo {
  font-family: "Nunito";
  font-size: 16px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.informacion .nequi .nequi-numero {
  font-family: "Nunito";
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.informacion .nequi .actualizar-nequi {
  font-family: "Nunito";
  font-size: 14px;
  color: rgb(0, 0, 0);
}

/* Diseño de información referido */

.referido {
  display: grid;
  align-items: center;
  grid-template-columns: 15% 1fr;
}

.img-informacion {
  width: 20px;
  margin-left: 25px;
}

.referido .referi {
  font-family: "Nunito";
  font-size: 14px;
  color: rgb(0, 0, 0);
}

/* Ganancia */

.ganancia {
  width: 360px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-left: 10px solid #e0379b;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(65, 61, 61, 0.8);
  margin: 20px auto;
  text-align: center;
  align-items: center;
}

.ganancia .ganancia-texto {
  font-family: "Nunito";
  font-size: 14px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.ganancia .ganancia-numero {
  font-family: "Nunito";
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.message {
  width: 360px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-left: 10px solid #e0379b;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(65, 61, 61, 0.8);
  margin: 20px auto;
  text-align: center;
  align-items: center;
}

.message .message-texto {
  font-family: "Nunito";
  font-size: 14px;
  color: rgb(0, 0, 0);
}

/* Sin Nequi */

/* .img-consignacion{
    width: 50px;
    margin-left: 10px;
} */

.contenedor .info-consignacion {
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-columns: 40% 20% 15% 25%;
  box-shadow: 0 0 6px 0 rgba(65, 61, 61, 0.8);
  width: 360px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  border-left: 10px solid #fd5613;
  border-radius: 10px;
  margin: 10px auto;
  font-family: "Nunito";
  font-size: 12px;
  color: rgb(0, 0, 0);
}

.contenedor .cabecera {
  display: grid;
  background: -webkit-linear-gradient(to right, #202452, #1f5c9c);
  background: linear-gradient(to right, #34396e, #1f5c9c);
  align-items: center;
  text-align: center;
  grid-template-columns: 40% 20% 15% 25%;
  box-shadow: 0 0 6px 0 rgba(65, 61, 61, 0.8);
  width: 360px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  /* border-left: 10px solid #e5e7e6; */
  border-radius: 10px;
  margin: 10px auto;
  font-family: "Nunito";
  font-size: 12px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.grupo {
  text-align: left;
}

.grupo-adv {
  text-align: center;
}

/* input {
  font-family: "Nunito";
  text-align: center;
  color: #161616;
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  width: 60%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid rgb(223, 222, 222);
} */

.grupo .ingrese {
  font-family: "Nunito";
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.button-pagar {
  font-family: "Nunito";
  background: -webkit-linear-gradient(to right, #fd5613, #e0379b);
  background: linear-gradient(to right, #fd5613, #e0379b);
  border: none;
  display: block;
  width: 50%;
  margin: 10px auto;
  color: #ffffff;
  height: 35px;
  font-size: 15px;
  cursor: pointer;
}

.button-conf {
  font-family: "Nunito";
  background: -webkit-linear-gradient(to right, #fd5613, #e0379b);
  background: linear-gradient(to right, #fd5613, #e0379b);
  border: none;
  border-radius: 4px;
  display: block;
  width: 80%;
  margin: 6px auto;
  color: #ffffff;
  height: 20px;
  font-size: 12px;
  cursor: pointer;
}

form .warnings {
  width: 200px;
  text-align: center;
  margin: auto;
  color: #b06ab3;
  padding-top: 20px;
}

.grupo .textos .hola {
  font-family: "Nunito";
  font-size: 13px;
  color: rgb(0, 0, 0);
}

.grupo .textos .nombre {
  font-family: "Nunito";
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.grupo-adv .textos .nombre-adv {
  font-family: "Nunito";
  text-align: center;
  font-size: 14px;
  
  color: rgb(0, 0, 0);
}

.grupo .textos .numero {
  font-family: "Nunito";
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.grupo .info-consignacion .confirmar-pago {
  font-family: "Nunito";
  text-decoration: none;
  background: -webkit-linear-gradient(to right, #fd5613, #e0379b);
  background: linear-gradient(to right, #fd5613, #e0379b);
  border: none;
  border-radius: 6px;
  display: inline;
  width: 80%;
  margin: 6px auto;
  color: #ffffff;
  height: 20px;
  font-size: 12px;
  cursor: pointer;
  line-height: 1.7;
}

.contenedor .grupo .info-consignacion .pago-hecho {
  font-family: "Nunito";
  text-decoration: none;
  background: -webkit-linear-gradient(to right, #008f39, #31a84f);
  background: linear-gradient(to right, #008f39, #31a84f);
  border: none;
  border-radius: 4px;
  display: inline;
  width: 80%; 
  margin: 6px auto;
  color: #ffffff;
  height: 20px;
  font-size: 12px;
  line-height: 1.7;
}

.contenedor .grupo .info-consignacion .pago-no-hecho {
  font-family: "Nunito";
  text-decoration: none;
  background: -webkit-linear-gradient(to right, #dd492d, #eb7154);
  background: linear-gradient(to right, #dd492d, #eb7154);
  border: none;
  border-radius: 4px;
  display: inline;
  width: 80%;
  margin: 6px auto;
  color: #ffffff;
  height: 20px;
  font-size: 12px;
  line-height: 1.7;
}

.contenedor .estado-cuenta {
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-columns: 20% 40% 40%;
  box-shadow: 0 0 6px 0 rgba(65, 61, 61, 0.8);
  width: 360px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  border-left: 10px solid #fd5613;
  border-radius: 10px;
  margin: 20px auto;
  font-family: "Nunito";
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.img-consignacion {
  width: 40px;
  margin-left: 10px;
}

.contenedor .cabecera-info {
  /* display: grid; */
  /* background: -webkit-linear-gradient(to right, #202452, #1f5c9c); */
  background: linear-gradient(to right, #ffffff, #ffffff);
  align-items: center;
  text-align: center;
  /* grid-template-columns: 40% 15% 15% 30%; */
  box-shadow: 0 0 6px 0 rgba(65, 61, 61, 0.8);
  width: 269px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 8px;
  padding-left: 8px;
  /* border-left: 10px solid #e5e7e6; */
  border-radius: 10px;
  margin-left: 60px;
  margin-top: 15px;
  font-family: "Nunito";
  font-size: 12px;
  color: rgb(0, 0, 0);
}

.contenedor .cabecera-info .ganancia-texto1 {
  font-family: "Nunito";
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.contenedor .cabecera-info .devolucion {
  font-family: "Nunito";
  font-size: 26px;
  font-weight: bold;
  color: rgb(0, 0, 0);  
}

.contenedor .info-consignacion11 {
  display: grid;
  align-items: center;
  grid-template-columns: 26% 74%;
  box-shadow: 0 0 6px 0 rgba(65, 61, 61, 0.8);
  width: 360px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  border-left: 10px solid #e0379b;
  border-radius: 10px;
  margin: 10px auto;
  font-family: "Nunito";
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.contenedor .info-consignacion-adv {
  display: grid;
  align-items: center;
  grid-template-columns: 20% 80%;
  box-shadow: 0 0 6px 0 rgba(65, 61, 61, 0.8);
  width: 360px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  border-left: 10px solid #fd5613;
  border-radius: 10px;
  margin: 10px auto;
  font-family: "Nunito";
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.pay-made{
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-columns: 20% 80%;
  box-shadow: 0 0 6px 0 rgba(65, 61, 61, 0.8);
  width: 360px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  border-left: 10px solid #008f39;
  border-radius: 10px;
  margin: 20px auto;
  font-family: "Nunito";
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.pay-made-no{
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-columns: 20% 80%;
  box-shadow: 0 0 6px 0 rgba(65, 61, 61, 0.8);
  width: 360px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  border-left: 10px solid #fd5613;
  border-radius: 10px;
  margin: 20px auto;
  font-family: "Nunito";
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.img-pay-made {
  width: 50px;
  margin-left: 10px;
}

.img-pay-made-time {
  width: 50px;
  margin-left: 10px;
}

.subirimagen{
    
  align-items: center;
  margin: 20px 25px;
  text-align: center;
}

.subir{
  font-family: 'Nunito';
  font-size: 12px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(65, 61, 61, 0.8);
  width: 320px;
  outline: none;
  margin-top: 10px;
}

::-webkit-file-upload-button{
  font-family: 'Nunito';
  color: rgb(255, 255, 255);
  background: #e0379b;
  padding: 8px;
  border: none;
  border-radius: 10px;     
}

button {
  font-family: "Nunito";
  background: -webkit-linear-gradient(to right, #fd5613, #e0379b);
  background: linear-gradient(to right, #fd5613, #e0379b);
  border: none;
  display: block;
  width: 50%;
  margin: 10px auto;
  color: #ffffff;
  height: 35px;
  font-size: 15px;
  cursor: pointer;
}

.account-status{
  width: 255px;
  align-items: center;
  text-align: center;
  margin-left: 60px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 150px;
}
  
.interno{
  box-shadow: 0 0 6px 0 rgba(63, 0, 51, 0.6);
  border-radius: 10px;
  height: 150px;
  text-align: left;
  padding: 10px;
}

.account-status .dia-numero{
  width: 40px;
}

.account-status .total{
  width: 80px;
  margin-bottom: 7px;
}